In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import h5py
data_path = 'laion2B-en-clip768v2-n=100K.h5'
%time f = h5py.File(data_path, 'r')

CPU times: user 1.08 ms, sys: 15.9 ms, total: 17 ms
Wall time: 41.7 ms

In [3]:
# iterate over attributes
for k, key in enumerate(f.keys()):
    print(k, key)

0 emb

In [4]:
f['emb']

In [5]:
import pandas as pd
%time data = pd.DataFrame(list(f['emb']))

CPU times: user 41.1 s, sys: 1.92 s, total: 43 s
Wall time: 45 s

In [6]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,-0.001980,0.043152,-0.012474,-0.042297,0.037201,0.034027,0.007248,0.026535,-0.022705,-0.038544,...,-0.032562,-0.043121,0.015541,-0.006378,-0.051178,0.016327,-0.020538,-0.008286,-0.009285,-0.024933
1,0.057281,0.052429,0.042633,0.050262,0.001604,0.018600,-0.000320,-0.013687,-0.013916,0.023560,...,0.042267,0.015373,-0.006653,0.018616,-0.061127,0.033722,-0.000931,0.006901,0.018860,-0.008125
2,0.023209,-0.003998,0.005028,-0.028870,-0.004017,-0.014771,0.019791,0.014961,-0.006783,0.019745,...,-0.002439,-0.002014,-0.004013,0.055695,-0.032166,0.017593,0.022995,0.027588,0.029999,-0.026230
3,0.064331,0.018661,0.015472,0.004322,0.007442,0.022308,-0.017578,-0.017792,-0.008308,-0.018326,...,-0.008362,0.034424,0.000561,0.006744,-0.013741,0.009140,0.004894,-0.005165,0.013367,0.006165
4,0.040283,0.019684,0.001457,-0.031708,0.042450,0.028122,-0.010551,0.007092,-0.019608,-0.051300,...,-0.034851,0.053955,-0.026901,-0.035553,0.020477,-0.030563,-0.035278,0.006603,-0.013771,0.059387

In [35]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.021605,0.022134,0.002496,0.008095,-0.002088,0.014305,0.004122,-0.000333,-0.001371,-0.014281,...,-0.000169,-0.000936,-0.009964,-0.003958,-0.008381,0.009151,0.004693,0.006192,-0.001172,0.000310
std,0.027982,0.033681,0.023859,0.040330,0.025614,0.024941,0.025452,0.023841,0.025029,0.026297,...,0.025128,0.024901,0.024435,0.025347,0.030106,0.029541,0.024060,0.023498,0.024977,0.024992
min,-0.108276,-0.119995,-0.123352,-0.192139,-0.135010,-0.129028,-0.124817,-0.114563,-0.114136,-0.130737,...,-0.115540,-0.134033,-0.141724,-0.134033,-0.144653,-0.144531,-0.129028,-0.122375,-0.127808,-0.112061
25%,0.003059,-0.000794,-0.013115,-0.019226,-0.018631,-0.002216,-0.012573,-0.015869,-0.017902,-0.031952,...,-0.016739,-0.017319,-0.026291,-0.020355,-0.029266,-0.010155,-0.010849,-0.009125,-0.017746,-0.016296
50%,0.022003,0.022278,0.002703,0.008278,-0.001447,0.014496,0.004475,-0.000114,-0.001318,-0.013977,...,-0.000283,-0.000744,-0.010178,-0.003519,-0.009151,0.010201,0.004959,0.006250,-0.000916,0.000102
75%,0.040680,0.045288,0.018372,0.035126,0.014954,0.030945,0.021179,0.015497,0.015175,0.003576,...,0.016510,0.015717,0.006196,0.012970,0.011789,0.029282,0.020599,0.021515,0.015526,0.016647
max,0.135620,0.162842,0.111206,0.181030,0.109009,0.116333,0.111572,0.110107,0.138306,0.101868,...,0.122253,0.119629,0.103394,0.133789,0.128418,0.136230,0.112854,0.116272,0.140381,0.162964

In [7]:
q_path = 'public-queries-10k-clip768v2.h5'
f = h5py.File(q_path, 'r')

In [8]:
for k, key in enumerate(f.keys()):
    print(k, key)

0 emb

In [9]:
queries = pd.DataFrame(list(f['emb']))

In [10]:
queries.head()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
0,0.001425,0.025776,-0.023120,-0.045599,0.006402,0.002812,0.016146,-0.039648,-0.028935,-0.024204,...,0.005059,-0.031346,-0.001856,-0.025669,0.008989,-0.005685,0.044714,-0.007112,-0.001487,0.015734
1,0.009907,0.060585,-0.008221,-0.082183,-0.007672,0.017236,0.020469,0.018883,-0.013293,-0.012378,...,-0.011424,0.052013,-0.015756,-0.057839,0.043318,0.034929,-0.023215,0.051525,0.038163,-0.021171
2,0.022208,0.014978,-0.006829,0.020896,-0.007729,0.042189,0.034014,0.021064,-0.033739,0.008717,...,0.002320,-0.004423,0.013362,0.033160,0.000252,-0.050823,0.010647,-0.020119,-0.011745,-0.013346
3,0.035890,-0.003828,0.034395,0.074039,0.024064,-0.023896,-0.002798,-0.030031,0.023149,0.026475,...,0.039430,0.029222,-0.007912,-0.008080,0.001704,-0.022706,0.005917,-0.013367,0.014023,0.004154
4,0.030588,0.072348,-0.007338,-0.047133,-0.034312,0.019781,0.009013,0.033396,-0.024284,0.017827,...,0.000709,0.007170,-0.021796,0.014920,0.023444,-0.028878,-0.017660,0.015294,0.017858,-0.016362

In [16]:
queries.tail()

,0,1,2,3,4,5,6,7,8,9,...,758,759,760,761,762,763,764,765,766,767
9995,0.026969,-0.029167,0.014637,0.011607,-0.052808,-0.009310,0.004285,-0.011264,-0.012485,0.014415,...,-0.008097,0.033120,0.039438,0.000296,-0.003060,0.003594,-0.000105,0.002560,0.006964,-0.004617
9996,0.037572,0.014795,0.006631,-0.040136,0.023746,0.056342,0.034062,0.031178,0.033024,0.033512,...,0.027286,0.005192,-0.019564,0.024921,0.009179,-0.030140,0.037877,0.007852,-0.002343,0.003111
9997,0.037519,0.049334,0.033886,0.023644,-0.015295,0.016760,0.005392,0.028452,-0.002055,0.000330,...,0.067773,-0.023537,-0.012028,-0.037764,-0.043136,0.010341,-0.008014,0.012265,0.015982,0.032299
9998,0.002310,0.025556,-0.026456,-0.074150,0.019804,0.021833,0.025434,-0.019712,0.028882,-0.044490,...,-0.033413,0.017332,-0.017180,0.008773,0.021436,0.021711,-0.011710,0.007533,-0.032651,-0.027936
9999,-0.003782,0.011776,0.010898,0.036602,0.050797,-0.000891,0.017736,0.008861,-0.027994,-0.037640,...,0.019019,-0.004087,0.033794,0.000502,0.036633,0.027230,-0.026147,0.051988,-0.007597,-0.013371

In [ ]:
data

In [17]:
queries.shape

(10000, 768)

In [12]:
gt_path = 'laion2B-en-public-gold-standard-v2-100K.h5'
f = h5py.File(gt_path, 'r')

In [13]:
for k, key in enumerate(f.keys()):
    print(k, key)

0 dists
1 knns

In [14]:
gt_knns = pd.DataFrame(list(f['knns']))

In [15]:
gt_knns.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,79172,15735,22337,231,74173,41079,38159,71849,69015,92811,...,45784,5492,35205,21690,16711,95028,19961,1708,68450,20333
1,14347,82848,79302,85923,6016,67067,29567,54566,34591,11620,...,79591,11637,80269,71577,45876,3581,48943,78719,78261,24809
2,51954,87690,3444,5491,65271,92521,58848,72008,63515,68040,...,7561,36433,88320,26411,63747,9646,19546,5171,97307,54264
3,92326,41249,719,70712,62434,90089,44995,12118,86491,25939,...,60939,73206,82366,97741,59386,56940,57245,19146,81212,26278
4,14561,69890,23198,5241,68802,92516,87332,45813,98006,98421,...,98075,99085,75659,20061,94633,84659,62323,37606,18919,79713

In [23]:
gt_knns.shape

(10000, 100)

In [18]:
dists_knns = pd.DataFrame(list(f['dists']))

In [19]:
dists_knns.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.272840,0.306153,0.313193,0.319519,0.324195,0.331694,0.332923,0.335139,0.340361,0.345363,...,0.413251,0.413266,0.413380,0.414900,0.414903,0.415589,0.415659,0.415704,0.415706,0.416275
1,0.197474,0.211360,0.228811,0.238955,0.252605,0.259810,0.262642,0.270252,0.276871,0.278265,...,0.366471,0.366595,0.367724,0.367750,0.368020,0.368511,0.368890,0.369199,0.369329,0.369398
2,0.134601,0.144572,0.155639,0.157445,0.158151,0.161204,0.163761,0.166899,0.167650,0.172106,...,0.249655,0.249723,0.249908,0.250163,0.251581,0.252176,0.252313,0.252360,0.252543,0.252871
3,0.236948,0.318988,0.329915,0.345898,0.347570,0.354015,0.360524,0.361964,0.362991,0.363687,...,0.410656,0.410842,0.410983,0.411264,0.411748,0.411988,0.412050,0.412425,0.412484,0.412573
4,0.308828,0.332785,0.341372,0.364381,0.366082,0.369594,0.371571,0.374696,0.377151,0.379470,...,0.432058,0.432103,0.432584,0.432958,0.433763,0.434079,0.435241,0.435323,0.435678,0.435722

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

def pairwise_cosine(x, y):
    return 1-cosine_similarity(x, y)

# -1 because index for knns is off-by-one
assert round(pairwise_cosine([queries.iloc[0]], [data.iloc[gt_knns.iloc[0, 0]-1]])[0][0], 5) == round(dists_knns.iloc[0, 0], 5)